/* -------------------- */
/* Custom properties    */
/* -------------------- */

:root {
	/* font-sizes */
	--fs-200: 1.3rem;
	--fs-300: 1.5rem;
	--fs-400: 1.7rem;
	--fs-600: 1.8rem;
	--fs-700: 2rem;
	--fs-750: 2.2rem;
	--fs-800: 2.5rem;
	--fs-900: 3rem;

	/* font-families */
	--ff-sans: "Inter", sans-serif;
	--ff-accent: "Roboto", sans-serif;
	--ff-mono: "Roboto Mono", monospace;

	/* colors */
	--c-accent-light: 17, 99%, 55%;
	--c-accent-dark: 216, 88%, 30%;
}

/* -------------------- */
/* Reset                */
/* -------------------- */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
section,
img {
	margin: 0;
	padding: 0;
	font-weight: inherit;
	font-size: inherit;
	font-family: inherit;
}

body {
	line-height: 1.5;
	min-height: 100vh;
	background-color: hsl(0, 0%, 100%);
}

input,
button,
textarea,
select {
	font: inherit;
	padding: 0;
	margin: 0;
	border: none;
	color: inherit;
}

input {
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
	display: block;
}

/* remove animations for people who have turned them off */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* rem scaling */
html {
	font-size: 62.5%;
}

body {
	font-family: var(--ff-sans);
	font-size: var(--fs-400);
	padding: 3rem;
}

.main-page-link {
	display: flex;
	align-items: center;
	gap: 1.2rem;

	font-family: var(--ff-mono);
	font-size: var(--fs-600);
	margin-bottom: 2rem;
}

.main-page-link-logo {
	max-width: 4rem;
	border-radius: 1.5rem;
	overflow: hidden;
}

a {
	font-weight: 500;
	color: hsl(var(--c-accent-light));
	text-decoration: underline;
	transition: color 0.15s;
}

a:hover {
	color: hsl(13, 100%, 50%);
}
